# Pandas
---

In [2]:
import numpy as np
import pandas as pd

sr1 = pd.Series([1, 3, 4, np.nan, 6, 8])
sr2 = pd.Series([1, 2, 3, 4, 5, 6])
print(sr1)
print(sr2)

0    1.0
1    3.0
2    4.0
3    NaN
4    6.0
5    8.0
dtype: float64
0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [3]:
name_series = pd.Series(['Cary Grant', 'George Clooney',
'Tom Cruise', 'Cameron Diaz', 'Liz Taylor'])
age_series = pd.Series([127, 61, 60, 50, 90])
gender_series = pd.Series(['M', 'M', 'M', 'F' ,'F'])
score_series = pd.Series([9.7, 9.3, 8.8, 8.5, 9.6])

print(name_series)
print(age_series)
print(gender_series)
print(score_series)

0        Cary Grant
1    George Clooney
2        Tom Cruise
3      Cameron Diaz
4        Liz Taylor
dtype: object
0    127
1     61
2     60
3     50
4     90
dtype: int64
0    M
1    M
2    M
3    F
4    F
dtype: object
0    9.7
1    9.3
2    8.8
3    8.5
4    9.6
dtype: float64

In [4]:
name_series = pd.Series(['Cary Grant', 'George Clooney', 'Tom Cruise',
                         'Cameron Diaz', 'Liz Taylor'])
age_series = pd.Series([127, 61, 60, 50, 90])
gender_series = pd.Series(['M', 'M', 'M', 'F' ,'F'])
score_series = pd.Series([9.7, 9.3, 8.8, 8.5, 9.6])

df = pd.DataFrame({'name': name_series, 'age': age_series, 'gender': gender_series,
                   'score': score_series})

print(df)

             name  age gender  score
0      Cary Grant  127      M    9.7
1  George Clooney   61      M    9.3
2      Tom Cruise   60      M    8.8
3    Cameron Diaz   50      F    8.5
4      Liz Taylor   90      F    9.6

In [7]:
print(df['name'], '\n')
print(df['name'][0], '\n')
print(df['name'][1], '\n')

0        Cary Grant
1    George Clooney
2        Tom Cruise
3      Cameron Diaz
4        Liz Taylor
Name: name, dtype: object

Cary Grant

George Clooney