In [2]:
print(2/3)

0.6666666666666666

In [3]:
True and False

False

In [4]:
True or False

True

In [5]:
weight = 73.5
print(weight)

id(weight)
type(weight)

73.5

float

In [6]:
'''
안녕
'''

'\n안녕\n'

In [7]:
'North' in 'North by'

True

In [8]:
'North' in 'north by'

False

In [2]:
3&4

0

In [3]:
4 & 5

4

In [4]:
3 | 4

7

In [6]:
name = input("Enter your name: ")
print("Hello, ", name)
print("Have you seen the movie 'North by Northwest'?")

Hello,  happy
Have you seen the movie 'North by Northwest'?

In [12]:
import random

random.random()

0.7132268874981391

In [17]:
random.randint(1,7)

6

In [23]:
random.randrange(0, 10, 2)

2

In [33]:
a = [10, 20, 30, 40, 50]
random.shuffle(a)
a

[10, 30, 50, 40, 20]

In [31]:
random.choice(a)

50

In [38]:
import math

print(math.pi)
print(math.e)

print(math.pow(2, 10))
print(math.fabs(-35))
print(math.log(math.e))

3.141592653589793
2.718281828459045
1024.0
35.0
1.0

In [41]:
first_name = 'Cary'
given_name = 'Grant'
occupation = 'actor'
age = 127
height = 185.5
print("%s %s is an %s, %d years old and is %f cm tall." %(first_name, given_name, occupation, age, height))

print("%s %s is an %s, %s years old and is %s cm tall." %(first_name, given_name, occupation, age, height))

Cary Grant is an actor, 127 years old and is 185.500000 cm tall.
Cary Grant is an actor, 127 years old and is 185.5 cm tall.

In [43]:
print('Do you like {} and {}?'.format('Python', 'Java'))

print("{} {} is an {}, {} years old and is {} cm tall.".format(first_name, given_name, occupation, age, height))

Do you like Python and Java?
Cary Grant is an actor, 127 years old and is 185.5 cm tall.

In [45]:
print('Do you like {0} and {1}?'.format('Python', 'Java'))

print('Do you like {0} and {1}?'.format('Python', 'Java'))

print('Do you like {0}, {0}, {0}?'.format('Python', 'Java'))

Do you like Python and Java?
Do you like Python and Java?
Do you like Python, Python, Python?

In [47]:
for i in range(2, 11, 2):
    print('{0:5d} {1:5d} {2:5d}'.format(i, i*i, i*i*i))

    2     4     8
    4    16    64
    6    36   216
    8    64   512
   10   100  1000

In [48]:
name = 'Yong-Hoon Choi'
avg = 0.337
hr = 20

print(f"Name: {name}, Average: {avg}, Home Runs: {hr}")

Name: Yong-Hoon Choi, Average: 0.337, Home Runs: 20