# Tuple
---

In [1]:
t = (1)
print(type(t))
print(t)

<class 'int'>
1

In [2]:
t = 1, 2, 3
print(type(t))
print(t)

<class 'tuple'>
(1, 2, 3)

In [3]:
t1 = (1,2,3,4,5)
print(id(t1))

2366113586368

In [4]:
t1 = (6,7,8,9,10)
print(id(t1))

2366113770448

In [5]:
t1 = ('a', 'b', 'c', 'd', 'e')
print(t1[0])
print(t1[4])
print(t1[-1])

a
e
e

In [8]:
t2 = (1, 2, 'a', 'b')
t3 = (100, 200)
print(t2 + t3)

(1, 2, 'a', 'b', 100, 200)

In [12]:
t1[1:]

('b', 'c', 'd', 'e')

In [13]:
t1[:2]

('a', 'b')

In [14]:
t1[::-1]

('e', 'd', 'c', 'b', 'a')

In [15]:
print(len(t1))
print(len(t1[0:3]))

5
3

In [17]:
import math

def cal_circle(r):
    area = math.pi * pow(r, 2)
    circum = 2 * math.pi * 10
    return area, circum

radius = float(input("Input radius: "))
results = cal_circle(radius)    #a, c = cal_circle(radius), tuple로 반환
a, c = cal_circle(radius)
print(type(results))
print(type(a), type(c))
print(results)
print(a, c)
print('Area is {0:3.3f} and circumference is {1:3.3f}'.format(results[0], results[1]))
print('Area is {0:3.3f} and circumference is {1:3.3f}'.format(a, c))

<class 'tuple'>
<class 'float'> <class 'float'>
(314.1592653589793, 62.83185307179586)
314.1592653589793 62.83185307179586
Area is 314.159 and circumference is 62.832
Area is 314.159 and circumference is 62.832

# Dictionary
---

In [1]:
a = {}
b = {'name': 'Cary Grant', 'age': 120, 'date of birth': '01181904'}
c = {1: 'Kim', 2: 'Lee', 3: 'Park'}
print(type(a), type(b), type(c))

<class 'dict'> <class 'dict'> <class 'dict'>

In [2]:
dic1 = {'문보경': 0.308, '홍창기': 0.338, '오스틴': 0.313}

print(dic1['문보경'])
print(dic1['홍창기'])
print(dic1['오스틴'])

0.308
0.338
0.313

In [20]:
dic1 = {'문보경': 0.308, '홍창기': 0.338, '오스틴': 0.313}
dic1['문성주'] = 0.296
print(dic1)

{'문보경': 0.308, '홍창기': 0.338, '오스틴': 0.313, '문성주': 0.296}

In [21]:
dic1 = {'문보경': 0.308, '홍창기': 0.338, '오스틴': 0.313, '문성주': 0.296}
del dic1['문보경']
print(dic1)

{'홍창기': 0.338, '오스틴': 0.313, '문성주': 0.296}

In [22]:
dic1 = {'문보경': 0.308, '홍창기': 0.338, '오스틴': 0.313, '문성주': 0.296}
dic1.clear()
print(dic1)

{}

In [24]:
dic1 = {'name':'Aaron Judge', 99: 6, 'Hits': 166, 'HR': [52, 27, 39, 59]}
print(type(dic1.keys()))
print(dic1.keys())
print(list(dic1.keys()))

<class 'dict_keys'>
dict_keys(['name', 99, 'Hits', 'HR'])
['name', 99, 'Hits', 'HR']

In [25]:
dic1 = {'name':'Aaron Judge', 99: 6, 'Hits': 166, 'HR': [52, 27, 39, 59]}
print(type(dic1.values()))
print(dic1.values())
print(list(dic1.values()))

<class 'dict_values'>
dict_values(['Aaron Judge', 6, 166, [52, 27, 39, 59]])
['Aaron Judge', 6, 166, [52, 27, 39, 59]]

In [3]:
twins = {'문보경': 0.285, '문성주': 0.339, '박해민': 0.282, '김현수': 0.303,
'홍창기': 0.318, '오스틴': 0.299, '박동원': 0.274}
print(type(twins.items()))
print(twins.items())
print(list(twins.items()))

<class 'dict_items'>
dict_items([('문보경', 0.285), ('문성주', 0.339), ('박해민', 0.282), ('김현수', 0.303), ('홍창기', 0.318), ('오스틴', 0.299), ('박동원', 0.274)])
[('문보경', 0.285), ('문성주', 0.339), ('박해민', 0.282), ('김현수', 0.303), ('홍창기', 0.318), ('오스틴', 0.299), ('박동원', 0.274)]

In [4]:
twins = {'문보경': 0.285, '문성주': 0.339, '박해민': 0.282, '김현수': 0.303,
'홍창기': 0.318, '오스틴': 0.299, '박동원': 0.274}

for k in twins.keys():
    print(k, ':', twins[k])

문보경 : 0.285
문성주 : 0.339
박해민 : 0.282
김현수 : 0.303
홍창기 : 0.318
오스틴 : 0.299
박동원 : 0.274

# Set
---

In [5]:
a = {}
b = {3, 4, 1, 2}
c = {'cool', 'koyote', 'finkl'}
print(type(a), type(b), type(c))

<class 'dict'> <class 'set'> <class 'set'>

In [6]:
d = {3, 4, 5, 5, 4, 3, 2, 1}
print(d)

{1, 2, 3, 4, 5}

In [9]:
a = set()
b = set([3, 4, 5, 4, 3, 2, 1])
c = set('hello')
print(a, b, c)

set() {1, 2, 3, 4, 5} {'l', 'e', 'h', 'o'}

In [10]:
a = {2, 3, 4, 1}
if 1 in a:
    print('1 is in set a.')

1 is in set a.

In [12]:
aset = {'a', 'f', 'c', 'd', 'b'}
for i in aset:
    print(i)

c
b
f
d
a

In [13]:
A = {1,2,3}
B = {1,2,3}
A == B

True

In [14]:
C = {1,2,3}
D = {1,2,3,2,1}
print(C == D)
print(C != D)

True
False

In [15]:
E = {1,2,3}
F = {1,2,3,4,5}

print(E <= F)
print(E > F)

True
False

In [16]:
A = {1,2,3}
B = {3,4,5}

print(A|B)
A.union(B)

{1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [17]:
A = {1,2,3}
B = {3,4,5}

print(A&B)
A.intersection(B)

{3}

{3}

In [18]:
A = {1,2,3}
B = {3,4,5}

print(A-B)
A.difference(B)

{1, 2}

{1, 2}

In [19]:
A = {1,2,3}
B = {3,4,5}

print(A^B)
A.symmetric_difference(B)

{1, 2, 4, 5}

{1, 2, 4, 5}

# File Handling
---

In [20]:
f = open('new_file.txt', 'w')
f.write('Cary Grant is an American actor.')
f.close()

In [21]:
f = open('new_file.txt', 'w')
f.write('Cary Grant is an American actor.\n')

for i in range(1, 11):
    f.write('{}\n'.format(i))
f.close()

In [22]:
f = open('new_file.txt', 'r')
data = f.read()
print(data)
f.close()

Cary Grant is an American actor.
1
2
3
4
5
6
7
8
9
10

# Text
---
- 텍스트 데이터
    - 구조화된 텍스트 문서
        - HTML, XML, JSON, CSV 파일
    - 구조화 되지 않은 문서
        - TXT 파일

In [53]:
s = 'Cary Grant'
slist = s.split()
slist

['Cary', 'Grant']

In [54]:
s = '2022.9.28'
slist = s.split('.')
slist

['2022', '9', '28']

In [56]:
s = ' Cary Grant '
s2 = s.strip()
s2

'Cary Grant'

In [58]:
s = '##########Cary#Grant#########'
s.strip('#')

'Cary#Grant'

In [25]:
s = 'Welcome, to,       Python, and , bla, bla '
ls = []
for x in s.split(','):
    ls.append(x.strip())
ls

['Welcome', 'to', 'Python', 'and', 'bla', 'bla']

In [27]:
ls = [x.strip() for x in s.split(',')]
ls

['Welcome', 'to', 'Python', 'and', 'bla', 'bla']

In [66]:
s = ' Cary Grant '
s.lstrip()

'Cary Grant '

In [28]:
list('Cary Grant')

['C', 'a', 'r', 'y', ' ', 'G', 'r', 'a', 'n', 't']

In [29]:
'Cary Grant'.split()

['Cary', 'Grant']

In [67]:
'-'.join(['abc', 'def', 'ghi'])

'abc-def-ghi'

In [68]:
'-'.join('abcde')

'a-b-c-d-e'

In [31]:
' '.join('abcde')

'a b c d e'

In [32]:
'010.1234.5678'.replace('.', '-')

'010-1234-5678'

In [33]:
s = 'Cary Grant'
print(s.upper())
print(s.lower())
print(s.capitalize())

CARY GRANT
cary grant
Cary grant

In [35]:
s = 'Cary Grant is an American actor.'
print(s.find('r'))
print(s.find('is'))
print(s.find('x'))

print(s.index('r'))
print(s.index('is'))

2
11
-1
2
11

In [37]:
s = 'Cary Grant is an American actor.'
print(s.count('r'))
print(s.count('an'))
print(min(s))
print(max(s))

4
3

y

In [38]:
s1 = "In the 1995 film \n\t The American President, Michael Douglas \t and Annette Bening starred."
print(s1)
print('\n')

w1 = s1.split()
print(w1)
print('\n')

s2 = ' '.join(w1)
print(s2)

In the 1995 film
	 The American President, Michael Douglas 	 and Annette Bening starred.


['In', 'the', '1995', 'film', 'The', 'American', 'President,', 'Michael', 'Douglas', 'and', 'Annette', 'Bening', 'starred.']


In the 1995 film The American President, Michael Douglas and Annette Bening starred.