# Variables and Operators
---

## Variables

In [2]:
print('Cary Grant')

Cary Grant

In [4]:
for i in range(5):
    print(i)

0
1
2
3
4

In [7]:
a = 0b10
b = 0o70
c = 0xFF
d = 3.45e10

print(a, b, c)
print(type(a),type(b),type(c))
print(d)
print(type(d))

2 56 255
<class 'int'> <class 'int'> <class 'int'>
34500000000.0
<class 'float'>

In [8]:
print(2/3)

0.6666666666666666

In [9]:
print(2**1000)

10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376

In [11]:
print(2.0**1000)

1.0715086071862673e+301

In [13]:
print(0.1+0.1 == 0.2)
print(0.1+0.1+0.1 == 0.3)
print(0.1+0.1+0.1)

True
False
0.30000000000000004

In [15]:
pi = 3.141592
radius = 10
height = 20
vol = pi * (radius ** 2) * height

print(vol)

6283.184

In [16]:
s1 = 'Cary Grant!'
print(s1)
print(len(s1))

Cary Grant!
11

In [17]:
msg = 'I watched the movie "North by Northwest," featuring Cary Grant.'
print(msg)

I watched the movie "North by Northwest," featuring Cary Grant.

In [18]:
msg = "I watched the movie \"North by Northwest,\" featuring Cary Grant."
print(msg)

I watched the movie "North by Northwest," featuring Cary Grant.

In [19]:
msg = "I watched the movie \nNorth by \tNorthwest \nfeaturing Cary Grant."
print(msg)

I watched the movie
North by 	Northwest
featuring Cary Grant.

In [23]:
print(bool(0))
print(bool())
print(bool(None))
print(bool(""))

False
False
False
False

In [26]:
print(bool(0.001))
print(bool(" "))
print(bool("Cary Grant"))
print(bool(-1))

True
True
True
True

In [27]:
print(True + True)
print(False + False)
print(bool(0.000001) + bool(3.41))
print(True and False)

2
0
2
False

In [3]:
True and False

False

In [4]:
True or False

True

In [28]:
weight = 73.5
print(weight)

print(id(weight))
print(type(weight))

73.5
1772050817840
<class 'float'>

In [29]:
x = 10
print(type(x))

x = 3.14
print(type(x))

x = range(5)
print(type(x))

<class 'int'>
<class 'float'>
<class 'range'>

In [31]:
print(str(100) + 'dollors')
print(str(100))
print(int(100))
print(float(100))

100dollors
100
100
100.0

## Operators

In [32]:
ord('a')

97

In [6]:
'''
안녕
'''

'\n안녕\n'

In [33]:
'North' in 'North by Northwest'

True

In [34]:
'North' in 'north by northwest'

False

In [35]:
'' in 'abc'

True

In [36]:
'' in ''

True

In [2]:
3&4

0

In [3]:
4 & 5

4

In [4]:
3 | 4

7

## Useful Functions

In [39]:
name = input("Enter your name: ")
print("Hello, ", name)
print("Have you seen the movie 'North by Northwest'?")

Hello,  happy
Have you seen the movie 'North by Northwest'?

In [40]:
a = input("Enter the first integer: ")
b = input("Enter the second integer: ")
c = int(a) + int(b)
print("sum: ", c)

sum:  30

In [41]:
a = int(input("Enter the first integer: "))
b = int(input("Enter the second integer: "))
c = a + b
print("sum: ", c)

sum:  30

In [46]:
import random

random.random()

0.381799866195771

In [45]:
random.randint(1,7)

1

In [47]:
random.randrange(1000)

924

In [48]:
random.randrange(0, 10, 2)

6

In [51]:
a = [10, 20, 30, 40, 50]
random.shuffle(a)
a

[30, 10, 40, 20, 50]

In [52]:
random.choice(a)

20

In [54]:
import math

print(math.pi)
print(math.e)

print(math.pow(2, 10))
print(math.fabs(-35))
print(math.log(math.e))
print(math.log(100, 10))

3.141592653589793
2.718281828459045
1024.0
35.0
1.0
2.0

In [55]:
print("I like", "Python", "and", "Java.")
print("I like %s and %s." %("Python", "Java"))

I like Python and Java.
I like Python and Java.

In [56]:
first_name = 'Cary'
given_name = 'Grant'
occupation = 'actor'
age = 127
height = 185.5
print("%s %s is an %s, %d years old and is %f cm tall." %(first_name, given_name, occupation, age, height))

print("%s %s is an %s, %s years old and is %s cm tall." %(first_name, given_name, occupation, age, height))

Cary Grant is an actor, 127 years old and is 185.500000 cm tall.
Cary Grant is an actor, 127 years old and is 185.5 cm tall.

In [57]:
print('Do you like {} and {}?'.format('Python', 'Java'))

print("{} {} is an {}, {} years old and is {} cm tall.".format(first_name, given_name, occupation, age, height))

Do you like Python and Java?
Cary Grant is an actor, 127 years old and is 185.5 cm tall.

In [58]:
print('Do you like {0} and {1}?'.format('Python', 'Java'))

print('Do you like {0} and {1}?'.format('Python', 'Java'))

print('Do you like {0}, {0}, {0}?'.format('Python', 'Java'))

Do you like Python and Java?
Do you like Python and Java?
Do you like Python, Python, Python?

In [59]:
import math
print('pi is {0:5.2f} or {0:5.10f}. Euler number is {1:1.2f} or {1:1.10f}'.format(math.pi, math.e))

pi is  3.14 or 3.1415926536. Euler number is 2.72 or 2.7182818285

In [60]:
for i in range(2, 11, 2):
    print('{0:5d} {1:5d} {2:5d}'.format(i, i*i, i*i*i))

    2     4     8
    4    16    64
    6    36   216
    8    64   512
   10   100  1000

In [61]:
name = 'Yong-Hoon Choi'
avg = 0.337
hr = 20

print(f"Name: {name}, Average: {avg}, Home Runs: {hr}")

Name: Yong-Hoon Choi, Average: 0.337, Home Runs: 20